contrib/egrul/docs/VO_RIGF_2_311_27_04_07_01.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by Shakeev (FGUP GNIVC FNS Russia) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="urn:exch:document:1.0" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Сведения, содержащиеся в Едином государственном реестре индивидуальных предпринимателей</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ИдОтпр" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сведения об отправителе</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ФИООтв" type="ФИО1Тип">
								<xs:annotation>
									<xs:documentation>Фамилия, имя, отчество ответственного лица</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ДолжОтв" use="optional">
							<xs:annotation>
								<xs:documentation>Должность ответственного лица</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Тлф" use="optional">
							<xs:annotation>
								<xs:documentation>Номер контактного телефона</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="E-mail" use="optional">
							<xs:annotation>
								<xs:documentation>E-mail</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="45"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Документ" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвИП">
								<xs:annotation>
									<xs:documentation>Сведения об индивидуальном предпринимателе / крестьянском (фермерском) хозяйстве</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СвФЛ">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество и пол индивидуального предпринимателя или главы КФХ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИОРус" type="ФИО1Тип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество физического лица на русском языке</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ФИОЛат" type="ФИО1Тип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество физического лица с использованием букв латинского алфавита</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Пол" use="required">
													<xs:annotation>
														<xs:documentation>Пол</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвФИОЗАГС" type="СвФИОЗАГСТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о фамилии, имени, отчестве индивидуального предпринимателя или главы КФХ по данным ЗАГС</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СвРожд" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о рождении</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ДатаРожд" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата рождения</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="МестоРожд" use="optional">
													<xs:annotation>
														<xs:documentation>Место рождения</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ПрДатаРожд" use="optional">
													<xs:annotation>
														<xs:documentation>Признак полноты представляемой даты рождения физического лица</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
															<xs:enumeration value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвГражд">
											<xs:annotation>
												<xs:documentation>Сведения о гражданстве</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ВидГражд" use="required">
													<xs:annotation>
														<xs:documentation>Вид гражданства</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
															<xs:enumeration value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ОКСМ" type="ОКСМТип" use="optional">
													<xs:annotation>
														<xs:documentation>Код страны, гражданином которой является физическое лицо</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НаимСтран" use="optional">
													<xs:annotation>
														<xs:documentation>Наименование страны по справочнику ОКСМ, гражданином которой является физическое лицо</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="250"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвУдЛичнФЛ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="УдЛичнФЛ" type="УдЛичнТипР">
														<xs:annotation>
															<xs:documentation>Данные документа, удостоверяющего личность</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвПравЖитРФ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, подтверждающем право иностранного гражданина или лица без гражданства временно или постоянно проживать на территории Российской Федерации</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ДокПравЖитРФ" type="УдЛичнТипР">
														<xs:annotation>
															<xs:documentation>Вид и данные документа, подтверждающего право физического лица временно или постоянно проживать на территории Российской Федерации</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="СрокДействДок" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation>Срок действия документа</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвАдрМЖ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения об адресе (месте жительства) индивидуального предпринимателя или главы КФХ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="АдресРФ" type="АдрРФТипВып" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Адрес (место жительства) индивидуального предпринимателя или главы КФХ (в структуре КЛАДР)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="АдрМЖФИАС" type="АдрФИАСЕГРИПТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Адрес (место жительства) индивидуального предпринимателя или главы КФХ (в структуре ФИАС)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ВидАдрКлассиф" use="optional">
													<xs:annotation>
														<xs:documentation>Вид адресного классификатора, используемого при формировании в выписках сведений об адресе</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвАдрЭлПочты" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения об адресе электронной почты индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="E-mail" use="required">
													<xs:annotation>
														<xs:documentation>Адрес электронной почты индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="45"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвРегИП">
											<xs:annotation>
												<xs:documentation>Сведения о регистрации индивидуального предпринимателя или крестьянского (фермерского) хозяйства</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвКФХ" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о крестьянском (фермерском) хозяйстве, созданном до 1 января 1995 года, содержащиеся в ЕГРЮЛ</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="ОГРН" type="ОГРНТип" use="required">
																<xs:annotation>
																	<xs:documentation>ОГРН юридического лица</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ИНН" type="ИННЮЛТип" use="optional">
																<xs:annotation>
																	<xs:documentation>ИНН юридического лица</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимЮЛПолн" use="required">
																<xs:annotation>
																	<xs:documentation>Полное наименование юридического лица</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ОГРНИП" type="ОГРНИПТип" use="required">
													<xs:annotation>
														<xs:documentation>Основной государственный регистрационный номер</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаОГРНИП" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата присвоения ОГРНИП</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="РегНом" use="optional">
													<xs:annotation>
														<xs:documentation>Регистрационный номер, присвоенный до 1 января 2004 года</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаРег" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation>Дата регистрации до 1 января 2004 года</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НаимРО" use="optional">
													<xs:annotation>
														<xs:documentation>Наименование органа, зарегистрировавшего ИП или КФХ до 1 января 2004 года</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="3"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвГлКФХ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о том, что в ЕГРИП внесены данные о том, что индивидуальный предприниматель является главой КФХ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ТекстГлКФХ" use="required">
													<xs:annotation>
														<xs:documentation>Текст о том, что индивидуальный предприниматель является главой крестьянского (фермерского) хозяйства</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="250"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвРегОрг">
											<xs:annotation>
												<xs:documentation>Сведения о регистрирующем органе по месту жительства индивидуального предпринимателя или главы КФХ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="КодНО" type="СОНОТип" use="required">
													<xs:annotation>
														<xs:documentation>Код органа по справочнику СОУН</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НаимНО" use="required">
													<xs:annotation>
														<xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="10"/>
															<xs:maxLength value="250"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="АдрРО" use="optional">
													<xs:annotation>
														<xs:documentation>Адрес регистрирующего органа</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="10"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвСтатус" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о состоянии (статусе) индивидуального предпринимателя, КФХ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвСтатус">
														<xs:annotation>
															<xs:documentation>Сведения о правоспособности (статусе) индивидуального предпринимателя, КФХ</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодСтатус" use="required">
																<xs:annotation>
																	<xs:documentation>Код статуса по справочнику СИПСТ</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="3"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимСтатус" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование статуса по справочнику СИПСТ (состояние)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="5"/>
																		<xs:maxLength value="500"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвРешИсклИП" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о решении о предстоящем исключении индивидуального предпринимателя из ЕГРИП и его публикации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ДатаРеш" type="xs:date" use="required">
																<xs:annotation>
																	<xs:documentation>Дата решения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НомерРеш" use="required">
																<xs:annotation>
																	<xs:documentation>Номер решения</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаПубликации" type="xs:date" use="required">
																<xs:annotation>
																	<xs:documentation>Дата публикации решения </xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НомерЖурнала" use="optional">
																<xs:annotation>
																	<xs:documentation>Номер журнала, в котором опубликовано решение</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="50"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвПрекращ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о прекращении деятельности в качестве индивидуального предпринимателя или о прекращении КФХ</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвСтатус">
														<xs:annotation>
															<xs:documentation>Сведения о способе прекращения</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодСтатус" use="required">
																<xs:annotation>
																	<xs:documentation>Код способа прекращения по справочнику СИППД</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="3"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимСтатус" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование способа прекращения по справочнику СИППД</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="5"/>
																		<xs:maxLength value="500"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаПрекращ" type="xs:date" use="required">
																<xs:annotation>
																	<xs:documentation>Дата прекращения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СвНовЮЛ" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о юридическом лице, созданном на базе крестьянского (фермерского) хозяйства</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="ОГРН" type="ОГРНТип" use="required">
																<xs:annotation>
																	<xs:documentation>Основной государственный регистрационный номер юридического лица, созданного на базе имущества крестьянского (фермерского) хозяйства</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ИНН" type="ИННЮЛТип" use="optional">
																<xs:annotation>
																	<xs:documentation>ИНН юридического лица</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимЮЛПолн" use="required">
																<xs:annotation>
																	<xs:documentation>Полное наименование юридического лица</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвУчетНО" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения об учете в налоговом органе</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:annotation>
														<xs:documentation/>
													</xs:annotation>
													<xs:element name="СвНО">
														<xs:annotation>
															<xs:documentation>Сведения о налоговом органе, в котором ИП (глава КФХ) состоит (для ИП (КФХ), прекративших деятельность - состояли) на учете</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодНО" type="СОНОТип" use="required">
																<xs:annotation>
																	<xs:documentation>Код органа по справочнику СОУН</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимНО" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование налогового органа</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="10"/>
																		<xs:maxLength value="250"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="required">
													<xs:annotation>
														<xs:documentation>ИНН физического лица</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаПостУч" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата постановки на учет в налоговом органе</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвРегСФР" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о регистрации в качестве страхователя в территориальном органе Социального Фонда России</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="РегНомСФР" use="required">
													<xs:annotation>
														<xs:documentation>Регистрационный номер страхователя</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаРег" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата постановки на учет в качестве страхователя</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="КодСФР" use="required">
													<xs:annotation>
														<xs:documentation>Код органа СФР</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаимСФР" use="required">
													<xs:annotation>
														<xs:documentation>Наименование органа СФР</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="10"/>
															<xs:maxLength value="255"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвРегПФ" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о регистрации в качестве страхователя по обязательному пенсионному страхованию (ОПС)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвОргПФ" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о территориальном органе Пенсионного фонда Российской Федерации / об органе в сфере социального страхования Российской Федерации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодПФ" use="required">
																<xs:annotation>
																	<xs:documentation>Код органа</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="2"/>
																		<xs:maxLength value="10"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимПФ" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="10"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="РегНомПФ" use="required">
													<xs:annotation>
														<xs:documentation>Регистрационный номер страхователя</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаПрисвНом" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation>Дата присвоения регистрационного номера страхователя в СФР</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаРег" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата регистрации / постановки на учет индивидуального предпринимателя (главы КФХ) в качестве страхователя</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвРегФСС" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о регистрации в качестве страхователя по обязательному социальному страхованию (ОСС)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвОргФСС" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения об исполнительном органе Фонда социального страхования Российской Федерации / об органе в сфере социального страхования Российской Федерации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодФСС" use="required">
																<xs:annotation>
																	<xs:documentation>Код органа</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="2"/>
																		<xs:maxLength value="10"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимФСС" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="10"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="РегНомФСС" use="required">
													<xs:annotation>
														<xs:documentation>Регистрационный номер страхователя</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаПрисвНом" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation>Дата присвоения регистрационного номера страхователя в СФР</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаРег" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата регистрации / постановки на учет индивидуального предпринимателя (главы КФХ) в качестве страхователя </xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаСнРег" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation>Дата снятия индивидуального предпринимателя (главы КФХ) в качестве страхователя</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвОхрОкрСр" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о том, что индивидуальному предпринимателю принадлежит производственный объект, указанный в пункте 1 статьи 56.1 Федерального закона от 10.01.2002 № 7-ФЗ «Об охране окружающей среды», отчуждение которого возможно при наличии заключения уполномоченного Правительством Российской Федерации федерального органа исполнительной власти о финансовой обеспеченности индивидуального предпринимателя или уведомления о сделке, предусмотренных законодательством в области охраны окружающей среды</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвОКВЭДОтч" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о кодах по ОКВЭД отчетного типа</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвОКВЭДОтчОсн" type="СвОКВЭДОтчТип" minOccurs="1">
														<xs:annotation>
															<xs:documentation>Сведения об основном виде деятельности отчетного типа</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СвОКВЭДОтчДоп" type="СвОКВЭДОтчТип" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения о дополнительном виде деятельности отчетного типа</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвОКВЭД" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о кодах по ОКВЭД заявительного типа </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СвОКВЭДОсн" type="СвОКВЭДТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения об основном виде деятельности заявительного типа</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СвОКВЭДДоп" type="СвОКВЭДТип" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения о дополнительном виде деятельности заявительного типа</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвЛицензия" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о лицензиях, выданных индивидуальному предпринимателю</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="НаимЛицВидДеят" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Наименование лицензируемого вида деятельности, на который выдана лицензия</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="1000"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ЛицОргВыдЛиц" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Наименование лицензирующего органа, выдавшего или переоформившего лицензию</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
																<xs:maxLength value="1000"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СвПриостЛиц" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о приостановлении действия лицензии</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="ДатаПриостЛиц" type="xs:date" use="required">
																<xs:annotation>
																	<xs:documentation>Дата приостановления действия лицензии</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ЛицОргПриостЛиц" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование лицензирующего органа, приостановившего действие лицензии</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="НомерЕРУЛ" use="optional">
													<xs:annotation>
														<xs:documentation>Номер лицензии, присвоенный в Едином реестре учета лицензий</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НомЛиц" use="optional">
													<xs:annotation>
														<xs:documentation>Серия и номер лицензии</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="100"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаЛиц" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата лицензии</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаНачЛиц" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата начала действия лицензии</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаОкончЛиц" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation>Дата окончания действия лицензии</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвЗапЕГРИП" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о записях, внесенных в ЕГРИП</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ВидЗап" type="ВидЗапТип">
														<xs:annotation>
															<xs:documentation>Сведения о причине внесения записи в ЕГРИП</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СвРегОрг" type="СвРегОргТип">
														<xs:annotation>
															<xs:documentation>Сведения о регистрирующем (налоговом) органе, внесшем запись в ЕГРИП</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СведПредДок" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения о документах, представленных при внесении записи в ЕГРИП</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="НаимДок">
																	<xs:annotation>
																		<xs:documentation>Наименование документа</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="255"/>
																			<xs:minLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="НомДок" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Номер документа</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="255"/>
																			<xs:minLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ДатаДок" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Дата документа</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:date">
																			<xs:minInclusive value="1900-01-01"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвСвид" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения о свидетельстве, подтверждающем факт внесения записи в ЕГРИП</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДатаСвидНед" type="ГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей сведения о признании свидетельства недействительным по решению суда </xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="Серия" use="required">
																<xs:annotation>
																	<xs:documentation>Серия бланка свидетельства</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Номер" use="required">
																<xs:annotation>
																	<xs:documentation>Номер бланка свидетельства</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="7"/>
																		<xs:maxLength value="9"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВыдСвид" type="xs:date" use="required">
																<xs:annotation>
																	<xs:documentation>Дата выдачи свидетельства </xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ГРНИПДатаИспрПред" type="ИдГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата записи, в которую внесены исправления</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ГРНИПДатаНедПред" type="ИдГРНИПДатаТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>ГРН и дата записи, которая признана недействительной</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СвСтатусЗап" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о статусе записи</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ГРНИПДатаНед" type="ИдГРНИПДатаТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата внесения записи, которой запись признана недействительной</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="ГРНИПДатаИспр" type="ИдГРНИПДатаТип" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>ГРН и дата записи, которой внесены исправления в связи с технической ошибкой</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ИдЗап" use="required">
													<xs:annotation>
														<xs:documentation>Системный идентификатор записи</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:totalDigits value="19"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ГРНИП" type="ОГРНИПТип" use="optional">
													<xs:annotation>
														<xs:documentation>Государственный регистрационный номер записи</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаЗап" type="xs:date" use="required">
													<xs:annotation>
														<xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ДатаВып" type="xs:date" use="optional">
										<xs:annotation>
											<xs:documentation>Дата формирования сведений из ЕГРИП в отношении индивидуального предпринимателя</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ОГРНИП" type="ОГРНИПТип" use="required">
										<xs:annotation>
											<xs:documentation>Основной государственный регистрационный номер индивидуального предпринимателя</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ДатаОГРНИП" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation>Дата присвоения ОГРНИП</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
										<xs:annotation>
											<xs:documentation>ИНН физического лица</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="КодВидИП" use="required">
										<xs:annotation>
											<xs:documentation>Код вида предпринимательства: индивидуальный предприниматель / крестьянское (фермерское) хозяйство</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="НаимВидИП" use="required">
										<xs:annotation>
											<xs:documentation>Наименование вида предпринимательства: индивидуальный предприниматель / крестьянское (фермерское) хозяйство</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="10"/>
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="4.07"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТипИнф" use="required">
				<xs:annotation>
					<xs:documentation>Тип информации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:enumeration value="ЕГРИП_ОТКР_СВЕД"/>
						<xs:enumeration value="ЕГРИП_ЗАКР_СВЕД"/>
						<xs:enumeration value="ЕГРИП_ОГР_СВЕД"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="optional">
				<xs:annotation>
					<xs:documentation>Версия передающей программы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="КолДок" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="5"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="АдрРФТипВып">
		<xs:annotation>
			<xs:documentation>Сведения об адресе в РФ в структуре КЛАДР, содержащиеся в ЕГРИП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Регион" type="РегионТип">
				<xs:annotation>
					<xs:documentation>Субъект Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Район" type="РайонТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район (улус и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Город" type="ГородТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Город (волость и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаселПункт" type="НаселПунктТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт (село и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Улица" type="УлицаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улица (проспект, переулок и т.п.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Индекс" use="optional">
			<xs:annotation>
				<xs:documentation>Индекс</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="6"/>
					<xs:pattern value="[0-9]{6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодРегион" use="required">
			<xs:annotation>
				<xs:documentation>Код субъекта Российской Федерации</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="CCРФТип"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодАдрКладр" use="optional">
			<xs:annotation>
				<xs:documentation>Код адреса по КЛАДР</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="11"/>
					<xs:maxLength value="23"/>
					<xs:pattern value="[0-9]{11}"/>
					<xs:pattern value="[0-9]{15}"/>
					<xs:pattern value="[0-9]{19}"/>
					<xs:pattern value="[0-9]{23}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Дом" use="optional">
			<xs:annotation>
				<xs:documentation>Дом (владение и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Корпус" use="optional">
			<xs:annotation>
				<xs:documentation>Корпус (строение и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Кварт" use="optional">
			<xs:annotation>
				<xs:documentation>Квартира (офис и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="АдрФИАСЕГРИПТип">
		<xs:annotation>
			<xs:documentation>Сведения об адресе в РФ в структуре ФИАС, содержащиеся в ЕГРИП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Регион" type="CCРФТип">
				<xs:annotation>
					<xs:documentation>Субъект Российской Федерации (код)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаимРегион">
				<xs:annotation>
					<xs:documentation>Наименование субъекта Российской Федерации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="МуниципРайон" type="ВидНаимКодТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Муниципальный район/ городской округ/ внутригородская территория города федерального значения/ муниципальный округ/ федеральная территория</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГородСелПоселен" type="ВидНаимКодТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Городское поселение / сельское поселение / межселенная территория в составе муниципального района / внутригородской район городского округа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаселенПункт" type="ВидНаимПТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт (город, деревня, село и прочее)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ЭлПланСтруктур" type="ТипНаимПТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Элемент планировочной структуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ЭлУлДорСети" type="ТипНаимПТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Элемент улично-дорожной сети</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Здание" type="НомерПТип" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Здание / сооружение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПомещЗдания" type="НомерПТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Помещение в пределах здания, сооружения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПомещКвартиры" type="НомерПТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Помещение в пределах квартиры</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ИдНом" use="optional">
			<xs:annotation>
				<xs:documentation>Уникальный идентификатор адресного объекта в ГАР</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="36"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Индекс" use="optional">
			<xs:annotation>
				<xs:documentation>Индекс</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="6"/>
					<xs:pattern value="[0-9]{6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ВидЗапТип">
		<xs:annotation>
			<xs:documentation>Сведения о причине внесения записи в реестр (ЕГРЮЛ/ЕГРИП)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодСПВЗ" use="required">
			<xs:annotation>
				<xs:documentation>Код вида записи (причины внесения записи в ЕГРЮЛ или ЕГРИП) по справочнику СПВЗ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="5"/>
					<xs:pattern value="[0-9]{5}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаимВидЗап" use="required">
			<xs:annotation>
				<xs:documentation>Наименование вида записи (причины внесения записи в ЕГРЮЛ или ЕГРИП) по справочнику СПВЗ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="5"/>
					<xs:maxLength value="500"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ВидНаимКодТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде (код) и наименовании адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ВидКод" use="required">
			<xs:annotation>
				<xs:documentation>Вид (код) элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Наим" use="required">
			<xs:annotation>
				<xs:documentation>Наименование элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ВидНаимПТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде и наименовании адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Вид" use="required">
			<xs:annotation>
				<xs:documentation>Вид элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Наим" use="required">
			<xs:annotation>
				<xs:documentation>Наименование элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ТипНаимПТип">
		<xs:annotation>
			<xs:documentation>Сведения о типе и наименовании адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Тип" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Наим" use="required">
			<xs:annotation>
				<xs:documentation>Наименование элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="НомерПТип">
		<xs:annotation>
			<xs:documentation>Сведения о номере адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Тип" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Номер" use="required">
			<xs:annotation>
				<xs:documentation>Номер элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ГородТип">
		<xs:annotation>
			<xs:documentation>Сведения об адресообразующем элементе город</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ТипГород" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента город (город, волость и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаимГород" use="required">
			<xs:annotation>
				<xs:documentation>Наименование (элемент город) </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ГРНИПДатаТип">
		<xs:annotation>
			<xs:documentation>ГРН и дата внесения записи в ЕГРИП</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ГРНИП" type="ОГРНИПТип" use="optional">
			<xs:annotation>
				<xs:documentation>Государственный регистрационный номер записи ЕГРИП</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаЗаписи" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ИдГРНИПДатаТип">
		<xs:annotation>
			<xs:documentation>Идентификатор записи, ГРНИП и дата внесения записи в ЕГРИП</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ИдЗап" use="required">
			<xs:annotation>
				<xs:documentation>Системный идентификатор записи</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="19"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ГРНИП" type="ОГРНИПТип" use="optional">
			<xs:annotation>
				<xs:documentation>Государственный регистрационный номер записи</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ДатаЗап" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Дата внесения записи в ЕГРИП</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="НаселПунктТип">
		<xs:annotation>
			<xs:documentation>Сведения об адресообразующем элементе населенный пункт</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ТипНаселПункт" use="optional">
			<xs:annotation>
				<xs:documentation>Тип элемента населенный пункт (поселок, село и т.п.)</xs:documentation>
				<xs:documentation/>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаимНаселПункт" use="required">
			<xs:annotation>
				<xs:documentation>Наименование (элемент населенный пункт)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="РайонТип">
		<xs:annotation>
			<xs:documentation>Сведения об адресообразующем элементе район</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ТипРайон" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента район (район, улус и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаимРайон" use="required">
			<xs:annotation>
				<xs:documentation>Наименование (элемент район)  </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="РегионТип">
		<xs:annotation>
			<xs:documentation>Сведения об адресообразующем элементе регион</xs:documentation>
		</xs:annotation>
		<xs:attribute name="НаимРегион" use="required">
			<xs:annotation>
				<xs:documentation>Наименование (элемент регион)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвОКВЭДОтчТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде деятельности отчетного типа, содержащиеся в ЕГРИП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="КодОКВЭД" type="ОКВЭДОтчТип" use="required">
			<xs:annotation>
				<xs:documentation>Код по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимОКВЭД" use="required">
			<xs:annotation>
				<xs:documentation>Наименование вида деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="1000"/>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Процент" use="optional">
			<xs:annotation>
				<xs:documentation>Доля кода по ОКВЭД отчетного типа в процентах</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="100"/>
					<xs:totalDigits value="9"/>
					<xs:fractionDigits value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвОКВЭДТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде деятельности заявительного типа, содержащиеся в ЕГРИП</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="КодОКВЭД" type="ОКВЭДТип" use="required">
			<xs:annotation>
				<xs:documentation>Код по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимОКВЭД" use="required">
			<xs:annotation>
				<xs:documentation>Наименование вида деятельности по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="1000"/>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ПрВерсОКВЭД" use="optional">
			<xs:annotation>
				<xs:documentation>Признак версии Общероссийского классификатора видов экономической деятельности</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="4"/>
					<xs:enumeration value="2001"/>
					<xs:enumeration value="2014"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвРегОргТип">
		<xs:annotation>
			<xs:documentation>Сведения о регистрирующем органе</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодНО" type="СОНОТип" use="required">
			<xs:annotation>
				<xs:documentation>Код органа по справочнику СОУН</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимНО" use="required">
			<xs:annotation>
				<xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="10"/>
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="УдЛичнТипР">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодВидДок" type="СПДУЛТип" use="required">
			<xs:annotation>
				<xs:documentation>Код вида документа по справочнику СПДУЛ </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимДок" use="required">
			<xs:annotation>
				<xs:documentation>Наименование документа по справочнику СПДУЛ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="150"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="СерНомДок" use="required">
			<xs:annotation>
				<xs:documentation>Серия и номер документа</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ДатаДок" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Дата выдачи документа</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ВыдДок" use="optional">
			<xs:annotation>
				<xs:documentation>Кем выдан документ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодВыдДок" use="optional">
			<xs:annotation>
				<xs:documentation>Код подразделения, выдавшего документ</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="7"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвФИОЗАГСТип">
		<xs:annotation>
			<xs:documentation>Сведения о фамилии, имени, отчестве физического лица по данным ЗАГС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ГРНИПДата" type="ГРНИПДатаТип">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРИП записи, содержащей указанные сведения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГРНИПДатаИспр" type="ГРНИПДатаТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ГРН и дата внесения в ЕГРИП записи об исправлении технической ошибки в указанных сведениях</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Фамилия" use="optional">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="optional">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="УлицаТип">
		<xs:annotation>
			<xs:documentation>Сведения об адресообразующем элементе улица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ТипУлица" use="optional">
			<xs:annotation>
				<xs:documentation>Тип адресного объекта улица (улица, проспект, переулок и т.п.)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="100"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаимУлица" use="required">
			<xs:annotation>
				<xs:documentation>Наименование (элемент улица) </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИО1Тип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="optional">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="optional">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОГРНТип">
		<xs:annotation>
			<xs:documentation>Основной  государственный регистрационный номер юридического лица  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="13"/>
			<xs:pattern value="[0-9]{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОГРНИПТип">
		<xs:annotation>
			<xs:documentation>Основной государственный регистрационный номер индивидуального предпринимателя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="15"/>
			<xs:pattern value="[0-9]{15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКВЭДТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора видов экономической деятельности (2-8 знаков)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКВЭДОтчТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора видов экономической деятельности (5-8 знаков)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="5"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКСМТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СОНОТип">
		<xs:annotation>
			<xs:documentation>Коды из Классификатора системы обозначений налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СПДУЛТип">
		<xs:annotation>
			<xs:documentation>Коды Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCРФТип">
		<xs:annotation>
			<xs:documentation>Код из Справочника субъектов Российской Федерации </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
